
body{
    background-image: url("img/enfermagemFundo.png");
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.abaprincipal{
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#principal-da-aba-principal{
     display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;

}
.pacientes{
  justify-content: space-between;
}
.alertas{
  justify-content: space-between;
}
#botaoalertas{
  border-radius: 10%;
  color:white
}
#botaopacientes{
  color: white;
  border-radius: 10%;
}
.outrofilho{
  border-radius:10%
}
.outrofilho1{
  display:flex;
  margin-left: 0%
}
.outrofilho2{
  display:flex;
  margin-left: 33.3%
}
.outrofilho3{
  display:flex;
  margin-left: 66.6%;
}